footer#footer.corner-point-brown.unpad--top
	section#dont-miss-a-thing
		.container.bg-blue
			.row.text-center
				.col-sm-12
					h3.color-white Don't miss a thing
					p.color-white Sign up to receive Connect Summit updates and the Connect Technology Newsletter
			.row.text-center
				form.form-email.custom-script(name="newsletter-subscribe" netlify-honeypot="bot-field", action='/newsletter-subscribe', netlify)
					.col-sm-5
						input.validate-required(type="text" placeholder="Your name" style="display:inline-block;" name="name")
					.col-sm-5
						input.validate-required.validate-email(type="text" placeholder="E-mail address" style="display:inline-block;" name="email")
					.col-sm-2
						button.btn.white.medium(type="submit")
							span.btn__text SUBMIT
	section
		.container
			.row
				.col-sm-6
					a(href="/")
						img(src="/img/logo/logo-color.png" style="height:100px;")
				.col-sm-6.mt--1
					ul.social-icons
						li.facebook
							a(href="https://www.facebook.com/VAS-Connect-Summit-332146637303550/" target="_blank")
								i.fa.fa-facebook
						li.twitter
							a(href="https://twitter.com/VASConnect" target="_blank")
								i.fa.fa-twitter
						li.twitter
							a(href="https://www.instagram.com/vasplatform/" target="_blank")
								i.fa.fa-instagram
			.row.mt--1
				.col-sm-6
					h4.unmarg JUNE 25-27 2018
					h4(style="font-weight:500;") Park Hyatt Resort, Beaver Creek, Colorado
				.col-sm-6
					h6.
						For registration or other questions please contact us at 918-804-2701 (8am–5pm PT, Monday–Friday) or email #[a.color-white(href="mailto:aldo.eagle@vas.com") aldo.eagle@vas.com]
	section.unpad
		.container
			.row.text-center
				.col-sm-12
					h3 Supported by
			.row.text-center
				ul#sponsors.row
					//- if contentful.sponsors != undefined
					//- 	- var stop = 4
					//- 	for item in contentful.sponsors
					//- 		- stop--
					//- 		if stop >= 0
					//- 			if item.companyWebsite != undefined
					//- 				li
					//- 					a(href="#{item.companyWebsite}" target="_blank")
					//- 						if item.whiteLogo != undefined
					//- 							img(src="#{asset(item.whiteLogo)}")
					//- 						else
					//- 							img(src="#{asset(item.logo)}")
					//- 			else
					//- 				li
					//- 					if item.whiteLogo != undefined
					//- 						img(src="#{asset(item.whiteLogo)}")
					//- 					else
					//- 						img(src="#{asset(item.logo)}")
					li
						a(href="http://web.vas.com/" target="_blank")
							img(src="/img/sponsors/vasLogo-white.png")
					//- li
					//- 	img(src="/img/sponsors/vasLogo-white.png")
					//- li
					//- 	img(src="/img/sponsors/vasLogo-white.png")
					//- li
					//- 	img(src="/img/sponsors/vasLogo-white.png")
				.col-sm-12
					a.btn.white.large(href="/become-a-sponsor")
						span.btn__text BECOME A SPONSOR
