extends layout

block content
	.content
		section#hero.home.pos-relative
			.header-title
				h1.ctr
					| Connect Summit 2018 
					//-span.h1-sub A DairyTech Summit
			
				h3.ctr
					| The premier technology & thought leadership summit for the modern dairy
				h2.ctr.color-white
					| Transforming Dairy Operations Through Connected Technology
			
				.info-date.ctr June 25-27, 2018
			
				.info-location.ctr Park Hyatt Resort, Beaver Creek, Colorado
			.lines

			//-.slider(data-arrows='false', data-paging='false')
				ul.slides
					li.height-80.unpad.imagebg.parallax
						.background-image-holder
							img(src="/img/test.jpg")
					li.height-80.unpad.imagebg.parallax
						.background-image-holder
							img(src="/img/test.jpg")

			//-.container.pos-vertical-center(style="position:absolute;z-index:1;LEFT:0;RIGHT:0;")
				.row.text-center
					.col-sm-12
						h1.color-white
							|#[span.bold Connect 18] A Dairy Tech Summit
						p.color-white Executive dairy technology summit for the latest innovations and thought leadership in the global dairy industry.
						h4.color-white.unmarg JUNE 25 - 27, 2018
						h5.color-white Park Hyatt Resort, Beaver Creek, Colorado

		section.shift-up.unpad--top
			.container
				.row
					.col-sm-12
						.iframe-container
							iframe.youtube(src="https://www.youtube.com/embed/8IKbgQS_ffw?rel=0" allow="encrypted-media" allowfullscreen)
				.row.text-center.mt--2
					.col-sm-12
						h2.color-green Intelligence at the heart of your dairy
						h5.short-description The global dairy industry is constantly faced with uncertainty. What steps do you need to take to survive and thrive in the Digital era?
						h6.short-description.
							Connect engages dairy leaders with trending and thought-provoking discussions to discover practical technology applications, best practices and the clearest path to transforming the way they do business.
						a.btn.green.large(href="/vision")
							span.btn__text READ ABOUT OUR VISION
		section#phone.unpad-bottom.pos-relative
			.bg-gray2
				.container
					.row
						.col-xs-7.col-sm-6.col-md-offset-1.col-lg-5.col-lg-offset-2
							h4.color-blue Connect'18 Event App available
							p.
								Download the HelloCrowd app now - available for iOS and Android!
							a.btn.blue.medium.toggle-trigger(data-toggle="#app-instructions")
								span.btn__text How to install the app
							ol#app-instructions(style="padding-left:20px;display:none;")
								li
									h6.
										From your mobile device or app, visit #[a(href="https://hca.io/e/v7m8146" target="_blank") this link], or simply visit your device's app store#[br]
								li
									h6.
										Download the free HelloCrowd app and search "Connect Summit"#[br]
								li
									h6.
										Add an event and you will be asked for a password, enter “vasconnect”#[br]
								li
									h6.
										You will be asked for you name and company#[br]
								li
									h6.
										The app will open to the Event Feed, click on the hamburger menu in the upper left corner (bottom right for iOS devices) for menus and to start engaging with the conference information!#[br]
							//- #[a(href="https://www.hellocrowd.net/" target="_blank") learn how it works!]
						.col-xs-7.col-sm-12.col-md-offset-1.col-lg-5.col-lg-offset-2.mt--1
							a.download-link(href="https://itunes.apple.com/us/app/hellocrowd/id936726622?mt=8" target="_blank")
								img(src="/img/applestore.png", alt="apple store icon")
							a.download-link(href="https://play.google.com/store/apps/details?id=com.hellocrowd.container&hl=en" target="_blank")
								img(src="/img/googleplay.png", alt="google play icon")
			img.phoneimg(src="/img/phone.png")

		section.carousel.unpad-top
			.container.mb--1
				.row.text-center
					.col-sm-12
						h2.color-blue Get inspired
						h6.short-description.
							These are some of the keynote speakers you will see on stage
						//-a.btn.blue.large.mt--1(href="/program")
							span.btn__text View our program
			.main-carousel
				if contentful.speakers != undefined
					for item in contentful.speakers
						if item.slug != "tyne-morgan" && item.speakerPhoto != undefined && item.speakerId < 4
							.carousel-cell
								.carousel-cell-image(style="background:url('#{asset(item.speakerPhoto)}');background-position: left center;background-size: cover;background-repeat: no-repeat; ", alt='#{item.speakerPhoto.fields.title}', width='', height='')
								.carousel-cell-content
									h3= item.speakerName
									if item.shortDescription != undefined
										.md!= md(item.shortDescription)
									a.btn.white.large(href="#{item._url}")
										span.btn__text Read More

				//- .carousel-cell
				//- 	.carousel-cell-image(style="background:url('/img/speakers/tim.jpg');background-position: left center;background-size: cover;background-repeat: no-repeat; ", alt='slider-image-1', width='', height='')
				//- 	.carousel-cell-content
				//- 		h3 Tim Taylor
				//- 		p
				//- 			| Lorem Ipsum dolar amet
		script.
			$(document).ready(function(){
					

				var $carousel = $('.main-carousel').flickity({
					// options
					cellAlign: 'left',
					contain: false,
					wrapAround: true,
					selectedAttraction: 0.05,
					friction: 0.5,
					pageDots: false,
					accessibility: false,
					adaptiveHeight: true,
					arrowShape: {
					  x0: 10,
					  x1: 60, y1: 50,
					  x2: 65, y2: 45,
					  x3: 20
					}
				});
				if($('.main-carousel').length) {
					//carousel exists, set arrow position
					var carouselImageHeight = $('.carousel-cell-image').height();
					$('.flickity-prev-next-button').css('top', (carouselImageHeight / 2));
				}

				/*
				var flkty = $carousel.data('flickity');
					$carousel.on( 'settle.flickity', function() {
					  console.log( 'Flickity settled at ' + flkty.selectedIndex )
					})
				*/

				});


		section
			.container
				.row.text-center
					.col-sm-12
						h2.color-green Connect Summit Master of Ceremonies
					.col-sm-3.col-center.mb--1
						//-p=JSON.stringify(tyne.tyne)
						img(src="#{asset(tyne.tyne.speakerPhoto)}")
					.col-sm-8.col-center
						h6.short-description= tyne.tyne.shortDescription
						a.btn.green.large(href="/speaker/tyne-morgan")
							span.btn__text FULL BIO

		section
			.container
				.row.text-center
					.col-sm-12
						h2.color-green Park Hyatt Resort, Beaver Creek, CO
						h6.short-description.
							Overlooking scenic Beaver Creek Mountain, Park Hyatt Beaver Creek Resort and Spa is a luxury Colorado Resort where you can experience the vacation of your dreams.  From breathtaking mountain views to championship golf course to exquisite cuisine, the resort offers the perfect year-round Vail Valley mountain escape.
						a.btn.green.large(href="/location")
							span.btn__text MORE ABOUT THIS LOCATION
			#gallery.mt--2
				ul.row
					li.col-sm-4.col-xs-6.imagebg.height-30
						a.background-image-holder(href="/img/resort/ParkHyattResort-1.jpg" data-lightbox="gallery 1")
							img(src="/img/resort/ParkHyattResort-1.jpg")
					li.col-sm-4.col-xs-6.imagebg.height-30
						a.background-image-holder(href="/img/resort/ParkHyattResort-2.jpg" data-lightbox="gallery 1")
							img(src="/img/resort/ParkHyattResort-2.jpg")
					li.col-sm-4.col-xs-6.imagebg.height-30
						a.background-image-holder(href="/img/resort/ParkHyattResort-3.jpg" data-lightbox="gallery 1")
							img(src="/img/resort/ParkHyattResort-3.jpg")
					li.col-sm-4.col-xs-6.imagebg.height-30
						a.background-image-holder(href="/img/resort/ParkHyattResort-4.jpg" data-lightbox="gallery 1")
							img(src="/img/resort/ParkHyattResort-4.jpg")
					li.col-sm-4.col-xs-6.imagebg.height-30
						a.background-image-holder(href="/img/resort/ParkHyattResort-5.jpg" data-lightbox="gallery 1")
							img(src="/img/resort/ParkHyattResort-5.jpg")
					li.col-sm-4.col-xs-6.imagebg.height-30
						a.background-image-holder(href="/img/resort/ParkHyattResort-6.jpg" data-lightbox="gallery 1")
							img(src="/img/resort/ParkHyattResort-6.jpg")
		section#reasons-to-attend
			.container
				.row.text-center.mb--1
					.col-sm-12
						h2.color-blue 6 reasons why you should attend
				.row.text-center
					.col-sm-4.clearfix.reason
						.col-sm-12.col-xs-4.imagebg.round.mb--1
							.background-image-holder
								img(src="/img/dairy/connect-icon-dairytalks.png")
						.col-sm-12.col-xs-9.col-xs-offset-3.col-sm-offset-0
							h4.text-left-xs.color-blue Dairy Talks
							p.text-left-xs.
								12 to 17 minute inspirational talks.
					.col-sm-4.clearfix.reason
						.col-sm-12.col-xs-4.imagebg.round.mb--1
							.background-image-holder
								img(src="/img/dairy/connect-icon-customersolutions.png")
						.col-sm-12.col-xs-9.col-xs-offset-3.col-sm-offset-0
							h4.text-left-xs.color-blue Customer solutions
							p.text-left-xs.
								Customer-driven "problem-to-solution" sessions.
					.col-sm-4.clearfix.reason
						.col-sm-12.col-xs-4.imagebg.round.mb--1
							.background-image-holder
								img(src="/img/dairy/connect-icon-valuesessions.png")
						.col-sm-12.col-xs-9.col-xs-offset-3.col-sm-offset-0
							h4.text-left-xs.color-blue Value Sessions
							p.text-left-xs.
								"How To Drive Value" sessions.
				.row.text-center
					.col-sm-4.clearfix.reason
						.col-sm-12.col-xs-4.imagebg.round.mb--1
							.background-image-holder
								img(src="/img/dairy/connect-icon-partnerinsights.png")
						.col-sm-12.col-xs-9.col-xs-offset-3.col-sm-offset-0
							h4.text-left-xs.color-blue Partner Insights
							p.text-left-xs.
								Partner & thought leadership sessions.
					.col-sm-4.clearfix.reason
						.col-sm-12.col-xs-4.imagebg.round.mb--1
							.background-image-holder
								img(src="/img/dairy/connect-icon-productsolutions.png")
						.col-sm-12.col-xs-9.col-xs-offset-3.col-sm-offset-0
							h4.text-left-xs.color-blue Product solutions
							p.text-left-xs.
								Product-driven "problem-to-solution" sessions.
					.col-sm-4.clearfix.reason
						.col-sm-12.col-xs-4.imagebg.round.mb--1
							.background-image-holder
								img(src="/img/dairy/connect-icon-familyvacation.png")
						.col-sm-12.col-xs-9.col-xs-offset-3.col-sm-offset-0
							h4.text-left-xs.color-blue Family vacation
							p.text-left-xs.
								Enjoy beautiful Beaver Creek Colorado with your family.
				.row.text-center
					.col-sm-12
						a.btn.blue.large(href="/registration")
							span.btn__text Request Registration Information
