extends layout

block content
	.content
		section#hero.pos-relative
			.hero.height-30
				.header-title
					h1.text-center
						span.h1-sub PROGRAM
					h1.ctr.
						Immerse yourself in inspiring stories and experiences
				.lines

			//-.slider(data-arrows='false', data-paging='false')
				ul.slides
					li.height-80.unpad.imagebg.parallax
						.background-image-holder
							img(src="/img/test.jpg")
					li.height-80.unpad.imagebg.parallax
						.background-image-holder
							img(src="/img/test.jpg")

			//-.container.pos-vertical-center(style="position:absolute;z-index:1;LEFT:0;RIGHT:0;")
				.row.text-center
					.col-sm-12
						h1.color-white
							|#[span.bold Connect 18] A Dairy Tech Summit
						p.color-white Executive dairy technology summit for the latest innovations and thought leadership in the global dairy industry.
						h4.color-white.unmarg JUNE 25 - 27, 2018
						h5.color-white Park Hyatt Resort, Beaver Creek, Colorado

		section
			.container
				.row.text-center
					.col-sm-12
						h5.short-description The line up for the 2018 Connect Summit is amazing. Be inspired by all people who make this event possible.
						//-h6.short-description.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
						//-a.btn.green.medium(href="#")
							span.btn__text READ ABOUT OUR MISSION
		section#agenda
			.container
				.row.text-center
					.col-sm-12
						ul#shortcuts
							li
								a(href="#day1")#day1-anchor.btn.large.blue
									span.btn__text Day 1
							li
								a(href="#day2")#day2-anchor.btn.large.blue
									span.btn__text Day 2
							li
								a(href="#day3")#day3-anchor.btn.large.blue
									span.btn__text Day 3
		section#events
			if contentful.events != undefined
				for section in contentful.events
					//-p=JSON.stringify(section.year)
					if section.year != undefined && section.year.fields.year == currentYear
						div(id="#{section.sectionId}-section")
							.container
								.row
									.col-sm-12
										h3.weight-700.color-blue.float-left= section.sectionTitle
										span(id="#{section.sectionId}").show-all.float-right.btn.medium.gray
											span.btn__text Toggle all details
							if section.scheduleItems != undefined
								.bg-gray2
									.container
										//-EVENT
										for event in section.scheduleItems
											- d(event)
											.row.event.active
												if event.fields.timeSlot != undefined
													.col-md-3.event-title
														h4.color-darkBlue.event-time= event.dateFormatted.hour + ":" + event.dateFormatted.minutes + event.dateFormatted.ampm
												.col-md-6.event-details
													h4= event.fields.title
													
													//-p= JSON.stringify(event)
													
													if event.fields.description != undefined
														.event-description.clearfix
															if event.fields.speaker != undefined
																h5 Speakers
																for speaker in event.fields.speaker
																	a(href="/speaker/#{speaker.fields.slug}")
																		.unpad.float-left
																			if speaker.fields.speakerPhoto != undefined
																				.imagebg(style="height:200px;width:200px;")
																					.background-image-holder
																						img(src="#{asset(speaker.fields.speakerPhoto)}")
																			else
																				.imagebg(style="height:200px;width:200px;")
																					.background-image-holder
																						img(src="img/speakers/blank.png")
																			if speaker.fields.speakerName != undefined
																				h6.text-center(style="margin-top:10px;")= speaker.fields.speakerName
																hr.programHR
															.col-sm-12.unpad(style="margin-top:10px;")
																h5 Description
																.md!= md(event.fields.description)
															
												if event.fields.description != undefined
													.float-right
														.arrow
		
	script.
		var agendaOffset = $('#agenda').offset().top
		$(document).on('scroll', function(){
			//console.log($('#agenda').offset().top)
			if(agendaOffset <= $(document).scrollTop() && !$('#agenda').hasClass('sticky')){
				$('#agenda').addClass('sticky');
			}
			else if (agendaOffset >= $(document).scrollTop() && $('#agenda').hasClass('sticky')){
				$('#agenda').removeClass('sticky');
			}
		})
