extends /layout

block content
	.content
		section#hero.pos-relative
			.hero.height-30
				.header-title
					h1.text-center
						span.h1-sub SPONSORS
					h1.ctr.
						Special thanks to all our sponsors
				.lines

			//-.slider(data-arrows='false', data-paging='false')
				ul.slides
					li.height-80.unpad.imagebg.parallax
						.background-image-holder
							img(src="/img/test.jpg")
					li.height-80.unpad.imagebg.parallax
						.background-image-holder
							img(src="/img/test.jpg")

			//-.container.pos-vertical-center(style="position:absolute;z-index:1;LEFT:0;RIGHT:0;")
				.row.text-center
					.col-sm-12
						h1.color-white
							|#[span.bold Connect 18] A Dairy Tech Summit
						p.color-white Executive dairy technology summit for the latest innovations and thought leadership in the global dairy industry.
						h4.color-white.unmarg JUNE 25 - 27, 2018
						h5.color-white Park Hyatt Resort, Beaver Creek, Colorado

		
		section
			.container
				.row.text-center
					.col-sm-12
						h2 2019 Sponsors
						h5.short-description The 2019 Connect Summit wouldn't be possible without the leadership and resources of our generous sponsors. We encourage all attendees to explore each of our event sponsor's pages linked below, and connect with them at the conference to discuss ways to start transforming your dairy operation today.
		section
			.container.masonry
				.row.text-center.masonry__container
					if contentful.sponsors != undefined
						for item in contentful.sponsors
							if item.summits != undefined
								for year in item.summits
									if year.fields.year == currentYear
										.masonry__item.col-sm-3
											if item.companyWebsite != undefined
												a(target="_blank" href="#{item.companyWebsite}")
													img(src="#{asset(item.logo)}")
											else
												img(src="#{asset(item.logo)}")
		section
			.container
				hr.programHR
				.row.text-center
					.col-sm-12
						h2 2018 Sponsors
						h5.short-description The 2018 Connect Summit wouldn't have been possible without the leadership and resources of our generous sponsors. We encourage all attendees to explore each of our event sponsor's pages linked below, and connect with them at the conference to discuss ways to start transforming your dairy operation today.
		section
			.container.masonry
				.row.text-center.masonry__container
					if contentful.sponsors != undefined
						for item in contentful.sponsors
							if item.summits != undefined
								for year in item.summits
									if year.fields.year == '2018'
										.masonry__item.col-sm-3
											if item.companyWebsite != undefined
												a(target="_blank" href="#{item.companyWebsite}")
													img(src="#{asset(item.logo)}")
											else
												img(src="#{asset(item.logo)}")
